*{
    padding:0px;
    margin: 0px;
}

.main{
    display: grid;
    grid-template-columns: 650px;
    grid-template-rows: 460px;
   
    position: absolute;
    top:50px;
    left:50px;
}
.heading{
    color:whitesmoke;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    background-color: #0F1111;
    padding: 10px;
}
.first{
    margin-left: 175px;
    padding:15px;
}
.last{
    margin-left: 180px;
    padding:10px;
}
.age{
    margin-left: 215px;
    padding:10px;
}
.email{
    margin-left: 205px;
    padding:10px;
}
.phone{
    margin-left: 200px;
    padding:10px;
}
.p1{
    margin-left: 145px;
    padding:10px;
}
.p2{
    margin-left: 130px;
    padding:10px;
}
.button{
    margin-left: 300px;
    margin-top: 10px;
    padding:10px;
    font-weight: 600;
    border-radius: 5px;
    border:none
}
.r1{
     padding:5px;
     margin-left: 175px;
}
.r2{
    padding:5px;
     margin-left: 175px;
}






@media(max-width:600px){
    .sigback{
        height:0px;
    }
    .sigback2{
        margin-top: 90px;
        height:400px;
        width:600px;
    }
    .main{
        display: grid;
        grid-template-columns: 600px;
        grid-template-rows: 460px;
        top:50px;
        left:0px;
    
        
    }
    .heading{
        color:whitesmoke;
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        background-color: #0F1111;
        padding: 10px;
    }
    .a{
        font-weight: 700;
    }
    .b{
        font-weight:lighter;
    }
    .age{
        margin-left: 227px;
    }
    .phone{
        margin-left: 213px;
    }
    .email{
        margin-left: 215px;
    }
}